/* styles.css */
.custom-bottom-border {
    position: relative;
    overflow: hidden;
  }
  
  .custom-bottom-border::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 3px; /* Adjust border thickness as needed */
    background: linear-gradient(90deg, rgba(58, 25, 245, 0.5), rgba(226, 7, 189, 0.5));
  }